h1{
    color:rgb(255, 81, 0);
}
.dropdown-menu .dropdown-item{
    color:rgb(255, 81, 0);
}
.imgindex{
    width: 100%;
}
.text{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.divlist{
    background-color: rgb(255, 81, 0);
}
h2{
    color:rgb(255, 81, 0);
    margin-bottom: 2px;
    font-size: 42px;
}



